iframe {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
}

.goto-project {
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 70px;
  span {
    color: gray;
  }
}

.preview-button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 10px 10px;
  width: 330px;
  background-color: #e9ecef;
  &[open] {
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    height: auto;
    summary {
      padding-bottom: 10px;
      border-bottom: 1px solid black;
    }
  }
}

.pp {
  user-select: none;
}
